<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="../static/css/normalize.css">
        <link rel="stylesheet" href="../static/css/skeleton.css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>Banca - Progetto Sistemi Distribuiti</title>

        <style>
            .footer {
                margin-top: 40px;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1 style="text-align: center">Crea - Banca - Progetto Sistemi Distribuiti</h1>
            <div class="row" style="text-align: center">
                <a class="button button-primary" href="/">Home</a>
                <a class="button button-primary" href="/transfer">Trasferisci</a>
                <a class="button button-primary" href="/deposit-withdraw">Deposita/Preleva</a>
                <a class="button button-primary" href="/divert">Annulla</a>
                <a class="button">Crea</a>
                <a class="button button-primary" href="/list">Lista</a>
                <a class="button button-primary" href="/delete">Elimina</a>
            </div>
            <div class="row" style="margin-top: 40px;">
                <div class="six columns">
                    <label for="name">Nome</label>
                    <input class="u-full-width" type="text" id="name">
                </div>
                <div class="six columns">
                    <label for="surname">Cognome</label>
                    <input class="u-full-width" type="text" id="surname">
                </div>
                <button class="button-primary" id="sendInfo" onclick="create()">Crea Account</button>
            </div>
            <div class="row" id="esito" style="text-align: center;" hidden>

            </div>
            <div class="footer">
                <h5>Realizzato da Gargiulo Elio (Mat: 869184) e Rigato Stefano (Mat: 869441)</h5>
            </div>
        </div>
        <script>
            function checkValidityWord(word) {
                return /^\D*$/.test(word);
            }

            function create() {
                let name = document.getElementById("name").value;
                let surname = document.getElementById("surname").value;
                var postBody = '{ "name": "' + name + '", "surname": "' + surname + '" }';
                let esito = document.getElementById("esito");
                esito.innerHTML = "";

                var requestOptions = {
                    method: 'POST',
                    body: postBody,
                    redirect: 'follow'
                };

                if (checkValidityWord(name) && checkValidityWord(surname) && name !== "" && surname !== "") {
                    fetch("/api/account", requestOptions)
                        .then(response => response.json())
                        .then(result => {
                            esito.innerHTML = "<h4>Account creato con successo!</h4>";
                            esito.innerHTML += "<h4>ID Account generato: " + result + "</h4>";
                            esito.removeAttribute("hidden");
                        })
                        .catch(error => {
                            console.log('error', error);
                            esito.innerHTML = "<h4>Errore: Richiesta non valida!</h4>";
                            esito.removeAttribute("hidden");
                        });
                } else {
                    esito.innerHTML = "<h4>Errore: Dati non validi!</h4>";
                    esito.removeAttribute("hidden");
                }
            }
        </script>
    </body>
</html>
